templates/sources/granadilla_buoy/weather_station/Weather_Station.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Proceso para obtener datos de la estación meteorológica vía MQTT</description>
    <groupId>3329a3c1-eed1-3950-1a0d-fbf799a5797c</groupId>
    <name>Weather Station</name>
    <snippet>
        <processGroups>
            <id>177a1a1a-8542-342e-0000-000000000000</id>
            <parentGroupId>30a01124-0db6-39c6-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>4f61b1e5-8ca6-3edc-0000-000000000000</id>
                    <parentGroupId>177a1a1a-8542-342e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>177a1a1a-8542-342e-0000-000000000000</groupId>
                        <id>e4eb75bc-e28c-3ea3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>177a1a1a-8542-342e-0000-000000000000</groupId>
                        <id>6204b1f1-7195-3c56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d6c24cc5-28b9-3d5c-0000-000000000000</id>
                    <parentGroupId>177a1a1a-8542-342e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>177a1a1a-8542-342e-0000-000000000000</groupId>
                        <id>0e46922b-1147-3015-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>177a1a1a-8542-342e-0000-000000000000</groupId>
                        <id>e4eb75bc-e28c-3ea3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e365bf35-c6e3-3bc1-0000-000000000000</id>
                    <parentGroupId>177a1a1a-8542-342e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>177a1a1a-8542-342e-0000-000000000000</groupId>
                        <id>6204b1f1-7195-3c56-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Message</selectedRelationships>
                    <source>
                        <groupId>177a1a1a-8542-342e-0000-000000000000</groupId>
                        <id>a4a5fd91-6532-37dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fd71e8b2-ed8f-32d4-0000-000000000000</id>
                    <parentGroupId>177a1a1a-8542-342e-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>177a1a1a-8542-342e-0000-000000000000</groupId>
                        <id>20d16c02-9938-3b71-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>activity.restored</selectedRelationships>
                    <selectedRelationships>inactive</selectedRelationships>
                    <source>
                        <groupId>177a1a1a-8542-342e-0000-000000000000</groupId>
                        <id>e4eb75bc-e28c-3ea3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>0e46922b-1147-3015-0000-000000000000</id>
                    <parentGroupId>177a1a1a-8542-342e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-55.89172597593256</x>
                        <y>62.36210474600193</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Success output</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>20d16c02-9938-3b71-0000-000000000000</id>
                    <parentGroupId>177a1a1a-8542-342e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-536.793496777562</x>
                        <y>56.49842976099501</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Activity monitoring output</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>6204b1f1-7195-3c56-0000-000000000000</id>
                    <parentGroupId>177a1a1a-8542-342e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-381.3499949553666</x>
                        <y>-598.8895352323304</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>configFilePath</key>
<value>
    <name>configFilePath</name>
</value>
                            </entry>
                            <entry>
<key>ingestName</key>
<value>
    <name>ingestName</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>configFilePath</key>
<value>${configFilePath}</value>
                            </entry>
                            <entry>
<key>ingestName</key>
<value>${ingestName}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>a4a5fd91-6532-37dc-0000-000000000000</id>
                    <parentGroupId>177a1a1a-8542-342e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1032.349853515625</x>
                        <y>-573.1442270278931</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mqtt-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Broker URI</key>
<value>
    <name>Broker URI</name>
</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>
    <name>Client ID</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
<value>
    <name>Last Will Topic</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Message</key>
<value>
    <name>Last Will Message</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
<value>
    <name>Last Will Retain</name>
</value>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
<value>
    <name>Last Will QoS Level</name>
</value>
                            </entry>
                            <entry>
<key>Session state</key>
<value>
    <name>Session state</name>
</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>
    <name>MQTT Specification Version</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>
    <name>Connection Timeout (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>
    <name>Keep Alive Interval (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Topic Filter</key>
<value>
    <name>Topic Filter</name>
</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>
    <name>Quality of Service(QoS)</name>
</value>
                            </entry>
                            <entry>
<key>Max Queue Size</key>
<value>
    <name>Max Queue Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Broker URI</key>
<value>tcp://mqtt_vernemq:1883</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>nifi-granadilla-buoy-weather-station</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>oag</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
                            </entry>
                            <entry>
<key>Last Will Message</key>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
                            </entry>
                            <entry>
<key>Session state</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>30</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>60</value>
                            </entry>
                            <entry>
<key>Topic Filter</key>
<value>redmic/activity/1284</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Max Queue Size</key>
<value>1024</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>200 ms</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Weather Station</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Message</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#4e53f2</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                </processors>
                <processors>
                    <id>e4eb75bc-e28c-3ea3-0000-000000000000</id>
                    <parentGroupId>177a1a1a-8542-342e-0000-000000000000</parentGroupId>
                    <position>
                        <x>-386.6827484865464</x>
                        <y>-369.6949753903722</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Threshold Duration</key>
<value>
    <name>Threshold Duration</name>
</value>
                            </entry>
                            <entry>
<key>Continually Send Messages</key>
<value>
    <name>Continually Send Messages</name>
</value>
                            </entry>
                            <entry>
<key>Inactivity Message</key>
<value>
    <name>Inactivity Message</name>
</value>
                            </entry>
                            <entry>
<key>Activity Restored Message</key>
<value>
    <name>Activity Restored Message</name>
</value>
                            </entry>
                            <entry>
<key>Copy Attributes</key>
<value>
    <name>Copy Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Monitoring Scope</key>
<value>
    <name>Monitoring Scope</name>
</value>
                            </entry>
                            <entry>
<key>Reporting Node</key>
<value>
    <name>Reporting Node</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Threshold Duration</key>
<value>2 min</value>
                            </entry>
                            <entry>
<key>Continually Send Messages</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Inactivity Message</key>
<value>${ingestName} (${now():format('yyyy/MM/dd HH:mm:ss')}): La ingesta de datos lleva inactiva al menos ${inactivityDurationMillis:toNumber():divide(60000)} minuto/s</value>
                            </entry>
                            <entry>
<key>Activity Restored Message</key>
<value>${ingestName} (${now():format('yyyy/MM/dd HH:mm:ss')}): La ingesta de datos se ha reactivado después de estar inactiva por al menos ${inactivityDurationMillis:toNumber():divide(60000)} minuto/s</value>
                            </entry>
                            <entry>
<key>Copy Attributes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Monitoring Scope</key>
<value>node</value>
                            </entry>
                            <entry>
<key>Reporting Node</key>
<value>all</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MonitorActivity</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>activity.restored</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>inactive</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MonitorActivity</type>
                </processors>
            </contents>
            <name>Weather Station</name>
            <variables>
                <entry>
                    <key>configFilePath</key>
                    <value>/opt/nifi/nifi-current/conf/redmic/activities/1284.json</value>
                </entry>
                <entry>
                    <key>ingestName</key>
                    <value>Granadilla Weather Station</value>
                </entry>
                <entry>
                    <key>username</key>
                    <value>granadilla_weather_station</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>11/14/2019 14:20:04 UTC</timestamp>
</template>
