templates/sources/granadilla_buoy/current_meter/Current_meter.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Proceso para obtener datos del correntímetro vía MQTT</description>
    <groupId>3329a3c1-eed1-3950-1a0d-fbf799a5797c</groupId>
    <name>Current meter</name>
    <snippet>
        <processGroups>
            <id>ca6bb456-e6e2-3f62-0000-000000000000</id>
            <parentGroupId>30a01124-0db6-39c6-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>09afb77a-2d10-3e60-0000-000000000000</id>
                    <parentGroupId>ca6bb456-e6e2-3f62-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ca6bb456-e6e2-3f62-0000-000000000000</groupId>
                        <id>88dfd4ed-3540-303b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ca6bb456-e6e2-3f62-0000-000000000000</groupId>
                        <id>a337a8aa-20e2-3da6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>212fe0b6-f5d2-3052-0000-000000000000</id>
                    <parentGroupId>ca6bb456-e6e2-3f62-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ca6bb456-e6e2-3f62-0000-000000000000</groupId>
                        <id>a337a8aa-20e2-3da6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Message</selectedRelationships>
                    <source>
                        <groupId>ca6bb456-e6e2-3f62-0000-000000000000</groupId>
                        <id>15265e58-077d-380b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3a149d12-77e6-347a-0000-000000000000</id>
                    <parentGroupId>ca6bb456-e6e2-3f62-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ca6bb456-e6e2-3f62-0000-000000000000</groupId>
                        <id>581be703-54fe-3b27-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ca6bb456-e6e2-3f62-0000-000000000000</groupId>
                        <id>88dfd4ed-3540-303b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f7e8c42b-3680-3bc5-0000-000000000000</id>
                    <parentGroupId>ca6bb456-e6e2-3f62-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ca6bb456-e6e2-3f62-0000-000000000000</groupId>
                        <id>dae014df-da0b-36b5-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>activity.restored</selectedRelationships>
                    <selectedRelationships>inactive</selectedRelationships>
                    <source>
                        <groupId>ca6bb456-e6e2-3f62-0000-000000000000</groupId>
                        <id>88dfd4ed-3540-303b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>581be703-54fe-3b27-0000-000000000000</id>
                    <parentGroupId>ca6bb456-e6e2-3f62-0000-000000000000</parentGroupId>
                    <position>
                        <x>124.79287847474575</x>
                        <y>234.50677951546595</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Success output</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>dae014df-da0b-36b5-0000-000000000000</id>
                    <parentGroupId>ca6bb456-e6e2-3f62-0000-000000000000</parentGroupId>
                    <position>
                        <x>-297.0294968385972</x>
                        <y>229.4594893313075</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Activity monitoring output</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>15265e58-077d-380b-0000-000000000000</id>
                    <parentGroupId>ca6bb456-e6e2-3f62-0000-000000000000</parentGroupId>
                    <position>
                        <x>-959.0162353515625</x>
                        <y>-343.0029001235962</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mqtt-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Broker URI</key>
<value>
    <name>Broker URI</name>
</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>
    <name>Client ID</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
<value>
    <name>Last Will Topic</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Message</key>
<value>
    <name>Last Will Message</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
<value>
    <name>Last Will Retain</name>
</value>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
<value>
    <name>Last Will QoS Level</name>
</value>
                            </entry>
                            <entry>
<key>Session state</key>
<value>
    <name>Session state</name>
</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>
    <name>MQTT Specification Version</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>
    <name>Connection Timeout (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>
    <name>Keep Alive Interval (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Topic Filter</key>
<value>
    <name>Topic Filter</name>
</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>
    <name>Quality of Service(QoS)</name>
</value>
                            </entry>
                            <entry>
<key>Max Queue Size</key>
<value>
    <name>Max Queue Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Broker URI</key>
<value>tcp://mqtt_vernemq:1883</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>nifi-granadilla-buoy-current-meter</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>oag</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
                            </entry>
                            <entry>
<key>Last Will Message</key>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
                            </entry>
                            <entry>
<key>Session state</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>30</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>60</value>
                            </entry>
                            <entry>
<key>Topic Filter</key>
<value>redmic/activity/1286</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Max Queue Size</key>
<value>1024</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>200 ms</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Current meter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Message</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#4e53f2</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                </processors>
                <processors>
                    <id>88dfd4ed-3540-303b-0000-000000000000</id>
                    <parentGroupId>ca6bb456-e6e2-3f62-0000-000000000000</parentGroupId>
                    <position>
                        <x>-309.18152301504983</x>
                        <y>-336.70565654271593</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Threshold Duration</key>
<value>
    <name>Threshold Duration</name>
</value>
                            </entry>
                            <entry>
<key>Continually Send Messages</key>
<value>
    <name>Continually Send Messages</name>
</value>
                            </entry>
                            <entry>
<key>Inactivity Message</key>
<value>
    <name>Inactivity Message</name>
</value>
                            </entry>
                            <entry>
<key>Activity Restored Message</key>
<value>
    <name>Activity Restored Message</name>
</value>
                            </entry>
                            <entry>
<key>Copy Attributes</key>
<value>
    <name>Copy Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Monitoring Scope</key>
<value>
    <name>Monitoring Scope</name>
</value>
                            </entry>
                            <entry>
<key>Reporting Node</key>
<value>
    <name>Reporting Node</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Threshold Duration</key>
<value>5 min</value>
                            </entry>
                            <entry>
<key>Continually Send Messages</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Inactivity Message</key>
<value>${ingestName} (${now():format('yyyy/MM/dd HH:mm:ss')}): La ingesta de datos lleva inactiva al menos ${inactivityDurationMillis:toNumber():divide(60000)} minuto/s</value>
                            </entry>
                            <entry>
<key>Activity Restored Message</key>
<value>${ingestName} (${now():format('yyyy/MM/dd HH:mm:ss')}): La ingesta de datos se ha reactivado después de estar inactiva por al menos ${inactivityDurationMillis:toNumber():divide(60000)} minuto/s</value>
                            </entry>
                            <entry>
<key>Copy Attributes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Monitoring Scope</key>
<value>node</value>
                            </entry>
                            <entry>
<key>Reporting Node</key>
<value>all</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MonitorActivity</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>activity.restored</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>inactive</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MonitorActivity</type>
                </processors>
                <processors>
                    <id>a337a8aa-20e2-3da6-0000-000000000000</id>
                    <parentGroupId>ca6bb456-e6e2-3f62-0000-000000000000</parentGroupId>
                    <position>
                        <x>-295.3499949553666</x>
                        <y>-592.8895352323304</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>configFilePath</key>
<value>
    <name>configFilePath</name>
</value>
                            </entry>
                            <entry>
<key>ingestName</key>
<value>
    <name>ingestName</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>configFilePath</key>
<value>${configFilePath}</value>
                            </entry>
                            <entry>
<key>ingestName</key>
<value>${ingestName}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <name>Current meter</name>
            <variables>
                <entry>
                    <key>configFilePath</key>
                    <value>/opt/nifi/nifi-current/conf/redmic/activities/1286.json</value>
                </entry>
                <entry>
                    <key>ingestName</key>
                    <value>Granadilla Current Meter</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>11/14/2019 14:21:07 UTC</timestamp>
</template>
